.tarefas {
    margin-top: 30px;
}

.tarefas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #eee;
    transition: all 0.15s;
}

.tarefas li:hover {
    background: #f9f9f9;
}

.tarefas li .edit {
    color: #4caf50;
    cursor: pointer;
    margin-right: 10px;
}

.tarefas li .delete {
    color: #f00;
    cursor: pointer;
    margin-right: 10px;
}

.tarefas li:hover .delete,
.tarefas li:hover .edit {
    color: #000;
    transition: all 0.15s;
}