.main {
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}