* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 14px Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
  -webkit-font-smoothing: antialiased !important;
}