@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.senha-gerado{
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  color: #2cd361;
  font-size: 1.5em;
  font-weight: bold;
}

input[type="text"]{
  width: 7%; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"]:focus{
  border: 1px solid #2cd361;
}