@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primary-color: #e9eec8;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 6px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 10px;
    border-radius: 6px;
}

form input:focus{
    outline: 1px solid #140f0f;
}

form button{
    font-size: 24px;
    height: 50px;
    border-radius: 6px;
    background-color: #140f0f;
    color: #fff;
    border: 0;
    cursor: pointer;
}

form button:hover{
    background-color: #2c2727;
}

form button:active{
    background-color: #140f0f;
}

form label{
    font-size: 24px;
    font-weight: bold;
}

form small{
    font-size: 16px;
    color: #140f0f;
}

.msgErro li{
    color: red;
    font-size: 16px;
    font-weight: bold;
}